:root {
  --back: #08090b;
  --background: #0d0e11;
  --border: #20232d;
  --accent: #a0aad4;
  --dim: #3d4154;
  --dim-box: #171920;
}

html {
  background-color: var(--back);
  font-family: var(--main-font);
}

main {
  border-radius: 32px;
  background: var(--border);
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 96vh;
}

.min,
.max {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.min h3,
.max h3,
.unit p {
  font-size: 16px;
  color: var(--dim);
}

.icon {
  color: var(--accent);
  font-size: 45px;
  height: 45px;
  display: block;
}

.unit {
  display: inline-flex;
  align-items: baseline;
  gap: 2px;
}

.unit h2 {
  color: var(--accent);
  margin: 0;
}

.unit p {
  margin: 0;
}

.sep {
  height: 48px;
  background-color: var(--dim);
  border-radius: 20px;
  padding: 1px;
  margin-top: auto;
  margin-bottom: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 8px 22px;
  margin: 18px;
  border-radius: 20px;
  border: 1px solid rgba(50, 54, 70, 0.5);
  background: radial-gradient(
    261.76% 123.77% at 3.29% 9.63%,
    rgba(36, 38, 49, 0.2) 0%,
    rgba(21, 23, 31, 0.2) 100%
  );
}

header h1 {
  margin: 0px;
  font-size: 28px;
  color: var(--accent);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input {
  width: -webkit-fill-available;
  width: -moz-available;
  outline: 0px;
  border: 0px none;
  font-family: var(--main-font);
  color: #ebebeb;
  font-size: 16px;
  background: transparent;
}
input::placeholder {
  font-family: var(--main-font);
  color: #ebebeb;
}

#search {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ebebeb;
  align-items: flex-start;
  background: rgba(86, 86, 86, 0.185);
  backdrop-filter: blur(6px);
  top: 76px;
  gap: 6px;
  padding: 6px;
  margin-left: -16px;
  border-radius: 12px;
  width: 210px;
}

#search button {
  color: #cecece;
  font-family: var(--main-font);
  font-size: 16px;
  width: -webkit-fill-available;
  width: -moz-available;
  text-align: left;
  padding: 6px 12px;
  border-radius: 8px;
}

#search button:hover {
  background: var(--accent);
  color: var(--back);
}
