.left {
  background: var(--background);
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  width: -webkit-fill-available;
  width: fill-available;
  width: -moz-available;
  border-radius: 30px;
}

.center {
  display: flex;
  align-items: baseline;
}


.right {
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  justify-content: space-evenly;
}

.temp {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
}

.temp p {
  font-family: var(--main-font);
  color: var(--dim);
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.right h1 {
  color: var(--accent);
  font-weight: 700;
  margin: 0;
}

.right h3,
.stats h3 {
  color: var(--dim);
  margin: 0;
}

.minmax {
  background: var(--dim-box);
  border-radius: 18px;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  padding: 8px 6px;
}

.stats {
  gap: 12px;
  display: flex;
  justify-content: space-evenly;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.stats h3 {
  font-size: 16px;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  border-radius: 12px;
  background: rgba(86, 86, 86, 0.21);
  font-family: var(--main-font);
  color: #ebebeb;
  padding: 0px 18px;
  display: flex;
  align-items: center;
}

.autocomp {
  cursor: pointer;
  background: transparent;
  border: 0px none;
  outline: none;
}

.content {
  height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
}

.content h1 {
  font-size: 128px;
  margin: 0px;
  color: var(--accent);
}

.content h2 {
  color: #c3cae4;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  text-align: left;
}

.content span h3 {
  font-size: 48px;
  color: var(--dim);
  margin: 0px;
}

.far {
  background: #292e454f;
  padding: 4px 12px;
  height: min-content;
  font-family: var(--main-font);
  border-radius: 8px;
  font-weight: 700;
  color: #666d8d;
  font-size: 18px;
  margin-top: 14px;
  margin-left: 10px;
}

.days {
  display: flex;
  gap: 32px;
}

.days div {
  border-radius: 16px;
  background: rgba(21, 23, 31, 0.73);
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  gap: 6px;
  opacity: 0.8;
}

.days div h3 {
  font-size: 16px;
  color: var(--dim);
  margin: 0px;
}

.days p {
  font-size: 16px;
  color: var(--dim);
  margin: 0;
}

@media screen and (max-width: 740px) {
  .right {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 24px;
  }
}

@media screen and (max-width: 630px) {
  .right {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 24px;
  }
}

@media screen and (max-width: 500px) {
  .days {
    gap: 8px;
  }

  .content {
    height: auto;
    padding-bottom: 32px;
  }

  .search {
    position: fixed;
    height: 40px;
    z-index: 3;
    bottom: 40px;
    right: inherit;
    left: 10px;
    margin-right: 10px !important;
    background: #222222;
    top: inherit;
    width: -webkit-fill-available;
    border: 2px solid var(--back);
    box-shadow: 0px 0px 40px 10px #00000069;
  }
}

@media screen and (max-width: 420px) {
  .far {
    display: none;
  }

  .content div.sep {
    display: none;
  }

  .content h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 390px) {
  .days {
    flex-direction: column;
  }
}
