.left {
  background: var(--background);
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  width: -webkit-fill-available;
  width: fill-available;
  width: -moz-available;
  border-radius: 30px;
}

.right {
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  justify-content: space-evenly;
}

.temp {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
}

.temp p {
  font-family: var(--main-font);
  color: var(--dim);
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.right h1 {
  color: var(--accent);
  font-weight: 700;
  margin: 0;
}

.right h3,
.stats h3 {
  color: var(--dim);
  margin: 0;
}

.minmax {
  background: var(--dim-box);
  border-radius: 18px;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  padding: 8px 6px;
}

.stats {
  gap: 12px;
  display: flex;
  justify-content: space-evenly;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.stats h3 {
  font-size: 16px;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  border-radius: 12px;
  background: rgba(86, 86, 86, 0.21);
  font-family: var(--main-font);
  color: #ebebeb;
  padding: 0px 18px;
  display: flex;
  align-items: center;
}

.autocomp {
  cursor: pointer;
  background: transparent;
  border: 0px none;
  outline: none;
}

.content {
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
  font-size: 128px;
  margin: 0px;
  color: var(--accent);
}

.content h2 {
  color: #C3CAE4;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  text-align: left;
}

.content span h3 {
  font-size: 48px;
  color: var(--dim);
  margin: 0px;
}

.far {
  background: #292e454f;
  padding: 4px 12px;
  height: min-content;
  font-family: var(--main-font);
  border-radius: 8px;
  font-weight: 700;
  color: #666d8d;
  font-size: 18px;
  margin-top: 14px;
  margin-left: 10px;
}

.center {

}